{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<header>
	<div class="author">
		<img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
		<span class="author_name">{{ site.title }}</span>
		<span class="author_job">{{ author.job }}</span>
		<span class="author_bio mbm">{{ author.bio }}</span>
	</div>
	{% include social-links.html %}

	<br>


	<nav>
	<ul>
		<li>
			<a href="/">Works</a>
		</li>
		<li>
			<a href="/resume/">Resume</a>
		</li>
	</ul>
	</nav>

</header>
