{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <span class="author_name">{{ author.name }}</span>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  </a>
  <nav class="nav">
    <ul class="nav-list">
      {% for post in site.posts %}
        {% unless post.next %}
        <div class="archive-title">
          <h6 class="archive-year">{{ post.date | date: '%Y' }}</h6>
        </div>

        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <div class="archive-title">
          <h6 class="archive-year">{{ post.date | date: '%Y' }}</h6>
        </div>

        {% endif %}
        {% endunless %}
        <li class="nav-post-item">
          <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
<!--           {% if post.tags contains 'Android' %}
            <i class="fa fa-android"></i>
          {% endif %}
          {% if post.tags contains 'iOS' %}
            <i class="fa fa-apple"></i>
          {% endif %} -->
          </a>
        </li>      
      {% endfor %}

      <p/>

      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>{% unless forloop.last %}
        <span>/</span>{% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
