---
layout: default
---

<section>
  <div id="page">
    <header class="page-header">
      <h4>
      <a href="javascript:history.back();">
        <i class="fa fa-angle-left"></i>            
      </a>&nbsp;
      {% if page.pageTitle != nil %}
        {{ page.pageTitle }}
      {% else %}
        {{ page.title }}
      {% endif %}
      </h4>
    </header>

    <article class="page-content">
      {{ content }}
    </article>


  </div><!-- end page content -->


  {% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}

</section>
